.c-map {
  width: 100%;
  height: calc(100vh - 120px);
  background: #EFEFEF;
  overflow: hidden;

  path {
    stroke: transparent;
    fill-opacity: .5;
  }

  //Map controls
  .leaflet-left {
    left: $wrap-padding-mobile;

    @media screen and (min-width: $screen-s) {
      left: $wrap-padding-tablet;
    }

    @media screen and (min-width: $screen-m) {
      left: $wrap-padding-desktop;
    }

    @media screen and (min-width: $screen-xl) {
      left: $wrap-padding-desktop-xl;
    }
  }

  .leaflet-bottom {
    bottom: 105px;

    @media screen and (min-width: $screen-m) {
      bottom: 10px;
    }
  }

  .leaflet-left .leaflet-control {
    margin: 0;
  }

  .leaflet-bar {
    border-radius: 0;
    box-shadow: none;
  }

  .leaflet-bar a,
  .leaflet-bar a:hover {
    width: 40px;
    height: 40px;
    background-color: rgba($color-4, .5);
    border: 0;
    color: $color-2;
    font-size: 0;

    &:first-child {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      background-image: image-url('plus.svg');
      background-size: 20px;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-image: image-url('minus.svg');
      background-size: 20px;
    }
  }

  .link-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.leaflet-popup-pane {
  position: relative;
}

.leaflet-container {
  background-color: transparent;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  border-radius: 0;
}

.leaflet-popup-content {
  margin: 0;

  .meta {
    padding: 15px 15px 0;
  }

  .link-group {
    border-top: solid 1px #d8d8d8;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .light {
      color: #151515;
      opacity: 0.4;
    }
  }

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-share-circle {
    position: relative;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 5px;
    fill: #dfdfdf;

    &.-orange {
      fill: $color-1;
    }
  }
}
