.l-download {
  padding: 40px 0;
  text-align: center;
  background-color: $color-1;

  @media screen and (min-width: $screen-m) {
    padding-top: 60px;
    padding-bottom: 170px;
  }

  .wrap {
    position: relative;
  }

  .text-module-title {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }

  &.-on-top {
    position: relative;

    .text-module-title {
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      pointer-events: none;
    }
  }

  .bttn {
    margin-top: 30px;
  }

  .c-home-map {
    height: 600px;
    width: 100%;
    position: relative;
    top: 20px;
  }

  .download-selectors {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;

    @media screen and (min-width: $screen-m) {
      align-items: flex-start;
      bottom: -92px;
    }

    > .label {
      width: 100%;
      font-size: 15px;
      font-weight: 600;
      color: $font-color-2;
      text-align: left;
      margin-bottom: 10px;
    }

    > .content {
      width: 100%;

      @media screen and (min-width: $screen-m) {
        display: flex;
        justify-content: space-between;
      }

      > .selector {
        width: 100%;
        max-width: 380px;
        display: flex;
      }

      > .actions {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        margin-left: 20px;

        .bttn {
          width: 180px;
          height: 50px;
          margin: 0;
          padding: 15px;
          font-size: 18px;
          font-weight: 600;
          color: $font-color-1;
        }
      }
    }
  }
}
