@import'../settings/settings.scss';

.l-header {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  height: 65px;

  @media screen and (min-width: $screen-m) {
    height: 90px;
  }

  ul {
    margin: 0 !important;
  }

  .h-logo {
    padding: 10px 20px;
    background-color: $color-3;
    height: 100%;
    width: 20%;

    @media screen and (min-width: $screen-m) {
      padding: 20px 40px;
    }

    a {
      font-size: 12px;
      line-height: 12px;
      color: $color-2;

      @media screen and (min-width: $screen-m) {
        font-size: 15px;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0 !important;
  }

  .main-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 65%;
    text-align: right;
    background-color: $color-3;

    @media screen and (min-width: $screen-m) {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 70%;
    }

    /* Skew one side of the element */
    &:before {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: $color-3;

      transform-origin: bottom left;
      -ms-transform: skew(-20deg, 0deg);
      -webkit-transform: skew(-20deg, 0deg);
      transform: skew(-20deg, 0deg);
    }

    .text-menu {
      margin-right: 10px;

      @media screen and (min-width: $screen-s) {
        margin-right: 15px;
      }

      @media screen and (min-width: $screen-m) {
        margin-right: 40px;
      }

      &.-out {
        @media screen and (min-width: $screen-m) {
          margin-right: 80px;
        }
      }
    }
  }

  .login {
    display: flex;
    justify-content: center;
    width: 21%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    text-align: center;
    background-color: $color-3;
    opacity: .8;

    @media screen and (min-width: $screen-m) {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      width: 15%;
    }
  }
}
