<footer class="l-footer-back">
    <ul class="footer-menu">
      <li class="text text-foot -light">ABOUT</li>
      <li class="text text-foot -light">CONTACT</li>
    </ul>
    <div class="rights">
      <p class="text text-foot -light">© JRC European Commission</p>
    </div>
</footer>

