<div class="wrap">
  <div class="row">
    <h1 class="text text-module-title -light"><%= t('home.download.title') %></h1>
    <div id="mapDownloads" class="c-home-map"></div>
    <div class="download-selectors">
      <label for=""><%= t('home.download.input_text') %></label>
      <input type="text">
      <button class="bttn bttn-secondary"><%= t('home.download.button_1') %></button>
      <button class="bttn bttn-secondary"><%= t('home.download.button_2') %></button>
    </div>
  </div>
</div>
