<section class="campaign-main">
  <article class="campaign-intro">
    <nav class="routes wrap-back">
      <ul class="text text-legend -light navigator">
        <li><%= link_to 'Participate', {class: current_class('admin/campaigns') + ''} %></li>
        <li><%= link_to 'Campaign', {class: current_class('admin/campaigns') + ''} %></li>
      </ul>
    </nav>
    <article class="wrap-back">
      <h1 class="text text-module-subtitle -light">Campaigns</h1>
      <ul class="tags-list text text-tag -light">
        <li class="tag">Tag 1</li>
        <li class="tag">Tag 2</li>
        <li class="tag">Tag 3</li>
      </ul>
      <p class="text text-desc -light">Description vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer pio posuere erat a ante venenatis dapi, ctetur, sed do. </p>
    </article>
  </article>
  <article class="campaigns">
     <div class="col-lg-12 wrap-back">
      <div class="input-group">
        <input type="text" class="form-control search" placeholder="Search">
        <span class="input-group-btn">
          <img src="" class="search-icon" />
        </span>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Start date</th>
        <th>Campaign Name</th>
        <th>Tags</th>
      </tr>
      </thead>

      <tbody data-role="activerecord_sortable">
        <%= render @campaigns %>
      </tbody>
    </table>
    <br>
  </article>
</section>
