
.container-fluid {
	.navbar.bg-primary {
		background-color: #151515 !important;

		& a {
			color: #fff !important;	

			&:hover {
				color: #ff5d33 !important;
			}		
		}
	}

	.btn-primary {
		border: 1px solid #ff5d33;
		border-radius: 0;
		background-color: #ff5d33;
		color: #fff !important;

		&:hover {
			border: 1px solid #ff5d33;				
			background-color: #ff5d33;			
			color: #151515 !important;
		}
	}

	.btn-secondary {
		border-radius: 0;

		&:hover {
			background-color: #fff !important;
			color: #ff5d33 !important;
		}
	}
}