<div id="parallax" class="home">
  <article class="l-community" id="community">
    <%= render 'home/community' %>
  </article>
  <article class="l-activity" id="activity">
    <%= render 'home/activity' %>
  </article>
</div>
