<section class="l-vert-wrap l-campaigns -detail" id="campaignsDetail">

  <article class="l-intro">
    <div class="l-routes">
      <div class="wrap">
        <div class="row">
          <div class="col-sm-12">
            <ul class="c-routes text text-desc -light">
              <!-- Paths to set -->
              <li class="route">Participate</li>
              <li class="route">Suggest event</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="c-section-intro">
            <h1 class="title text text-module-subtitle">Suggest an Event</h1>
            <%= render 'form', event_request: @event_request %>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
